.detailImg {
  width: 450px;
}

.startRecipeBtn {
  bottom: 0;
  position: fixed;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(214, 231, 245, 0.5);
  /* border: 2px solid #ff0000; */
  width: 100%;
  height: 30px;
  /* left: 50%; */
  top: 92%;
  text-align: center;
}
